<div class='issues--header'>
  <h3>Issues</h3>
    
  <%= form_tag(@issues_url, method: "get") do %>
    <%= select_tag(:sortKey,
      options_for_select([['Created at desc', 'created_at_desc'],
                          ['Created at asc', 'created_at_asc'],
                          ['Title', 'title']])) %><br>
    <%= submit_tag("Sort") %>
  <% end %>
  <a href='/repos'>Back to Repos</a>
</div>

<div class='issues'>
  <% @issues.each do |i| %>
    <div class='issues__item'>
      <% if i['assignee'] %>
        <img src= <%= i['assignee']['avatar_url'] %> ></img>
      <% else %>
        <img src='/default.png'></img>
      <% end %>
      <div><%= i['title'] %></div>
      <div><%= i['created_at'] %></div>
      <div><%= distance_of_time_in_words(i['updated_at']) %></div>
    </div>
  <% end %>
</div>
